.test {
  border: 2px solid red;
}
.successBtn {
  padding: 0.3rem 1.5rem;
  background-color: green;
  text-transform: capitalize;
  border-radius: 5px;
}
.input {
  background-color: rgb(43, 43, 43);
  border-radius: 5px;
  padding: 0.3rem;
}
